<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head %>

        <!--     leaflet css -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
              integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
              crossorigin=""/>
        <!--     leaflet js -->
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
                integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
                crossorigin=""></script>

        <!--    Leaflet.markercluster -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>
        <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

        <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

    </head>

    <body onresize="windowResize()">

        <% include ./partials/navbar %>

        <div class="section">

            <div class="map-wrapper">
                <div class="map" id="map" style="width:100%;"></div> 
            </div>

            <!-- Empty State panel -->
            <div style="display: none;" class="empty-state-panel">

                <p class="empty-state-panel__text">Click on a marker on the map above to display the images here</p>
                <img class="empty-state-panel__image" src="/images/empty-state.png">

            </div>

            <!-- panel button -->
            <div style="display: block;" class="icon-out1">
                <svg id="toggle1" viewBox="-35 -75 150 150">
                    <line x1="10" y1="10" x2="40" y2="-20" style="stroke:rgb(0,0,0);stroke-width:5" />
                    <line x1="70" y1="10" x2="40" y2="-20" style="stroke:rgb(0,0,0);stroke-width:5"/>
                </svg>
            </div>

            <!-- Display panel -->
            <div style="display: block;" class="panel1">        

                <div class="info-container">
                    <button class="approveButton" >Approve</button>
                    <button class="rejectButton" >Reject</button>
                    <div id="markerId" class="">id</div>                
                    <div id="markerTitle" class="info-panel__title">Approval/Reject Page</div>                
                    <div id="markerDate" class="info-panel__date"></div>

                    <div class="info-panel__tags" id="info-panel__tags">

                    </div>
                </div>

                <div class="info-panel__gallary-container">
                    <div class="main-container">

                        <div class="container">                            
                            <img id="expandedImg"  src="">
                        </div>

                        <div class="gallery-container">
                            <div class="image-holder" id="image-holder"></div>
                            <button class="slideButton" id="slideLeft" type="button">R</button>
                            <button class="slideButton" id="slideRight" type="button">L</button>
                        </div>

                    </div>
                </div>               


                <div class="info-panel__chat">

                </div>

            </div>


            <script>

                var panel = document.getElementsByClassName("panel1")[0];
                var iconOut = document.getElementsByClassName("icon-out1")[0];
                var OpenCloseIcon = document.getElementById("toggle1");


                iconOut.onclick = function(){
                    if (panel.style.height == "80%") {
                        console.log("a");
                        panel.style.height = "20%";
                        iconOut.style.top = "calc(80% - 25px)";

                        OpenCloseIcon.classList.add("is-up");
                        OpenCloseIcon.classList.remove("is-down");

                    } else {
                        console.log("b");
                        panel.style.height = "80%";
                        iconOut.style.top = "calc(20% - 25px)";

                        OpenCloseIcon.classList.remove("is-up");
                        OpenCloseIcon.classList.add("is-down");
                    }
                };

                document.getElementById("toggle1").onclick = function(){

                }

            </script>


            <!-- Upload panel -->
            <div style="display: none;" class="panel1--upload">

                <!--          TODO      HIDDING OVERLAY FOR DEVELOPMENT -- REMOVE DISPLAY NONE WHEN DONE-->
                <div style="display: none;" id="overlay" class="info-panel--upload__overlay">
                    <div class="info-panel--upload__overlay__text">


                        <div class="info-panel--upload__overlay__text2">Select location on map
                        </div>
                        <div class="info-panel--upload__overlay__text3">Click on the exact location were the photo was taken 
                        </div>

                    </div>           
                </div>

            </div>

        </div>


        <script type="text/javascript"> 
            // need to clear this for each new upload or reset
            // stores the urls or the uploaded images so they can be saved to the db
            var arrayOfImageUrls = [];

            var myWidget = cloudinary.createUploadWidget({
                cloudName: 'dqyaxjtvh', 
                uploadPreset: 'mxgy7sn1'}, (error, result) => { 
                if (!error && result && result.event === "success") { 
                    console.log('Done! Here is the image info: ', result.info, result.info.url);

                    arrayOfImageUrls.push(result.info.url);            
                    document.getElementById("markerArrayHidden").value = arrayOfImageUrls;      

                    //console.log(arrayOfImageUrls); 
                    //console.log(typeof arrayOfImageUrls);
                }
            })

            document.getElementById("upload_widget").addEventListener("click", function(){
                myWidget.open();
            }, false);
        </script>


        <script>
            var windowHeightSwitchPanelSize = 940;
            var windowHeight = window.innerHeight;

            // Image gallery - click on image to view large
            function displayImage(imgs) {
                var expandImg = document.getElementById("expandedImg");
                expandImg.src = imgs.src;

            }

            var markerClusterer;
            var markerArray = [];
            var mapLocationThing;

            // map creation
            var map = L.map('map').setView([43.511680603027344, -5.767113304138184
                                           ], 2);

            // set map tile layer
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                minZoom: 2,
                style: "mapbox://styles/mapbox/satellite-streets-v10",
                id: 'mapbox.satellite',
                accessToken: 'pk.eyJ1IjoibWFydGluYnJvd24iLCJhIjoiY2szbHQwNWR3MG55MTNsbm04NW8ydXhiMSJ9.N_XvtrtfLeO9t6MEoy0Xqg'
            }).addTo(map);


            // set map bounds
            var bounds = L.latLngBounds([[-110, -180], [200, 200]]);

            map.setMaxBounds(bounds);
            map.on('drag', function() {
                map.panInsideBounds(bounds, { animate: false });
            });

            var theMarker = {};
            function addMarkerNew(e) {

                // https://github.com/pointhi/leaflet-color-markers
                var greenIcon = new L.Icon({
                    iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png',
                    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                    iconSize: [25, 41],
                    iconAnchor: [12, 41],
                    popupAnchor: [1, -34],
                    shadowSize: [41, 41]
                });

                map.on('click', function(e) {
                    lat = e.latlng.lat;
                    lng = e.latlng.lng;

                    overlayOff();

                    console.log("You clicked the map at LAT: " + lat + " and LONG: " + lng);

                    //Clear existing marker, 
                    if (theMarker != undefined) {
                        map.removeLayer(theMarker);
                    };

                    //Add a marker to show where you clicked.                
                    theMarker = L.marker([lat, lng], {
                        draggable: 'true',
                        icon: greenIcon
                    }).addTo(map);

                    document.getElementById("latTextBox").value = lat;
                    document.getElementById("lngTextBox").value = lng;

                    theMarker.on('dragend', function(event) {
                        var position = theMarker.getLatLng();
                        console.log(position)

                        theMarker.setLatLng(position, {
                            draggable: 'true'
                        }).bindPopup(position).update();

                        document.getElementById("latTextBox").value = position.lat;
                        document.getElementById("lngTextBox").value = position.lng;

                        console.log("Log of value", document.getElementById("lngTextBox").value)
                    });
                });
            }

            // Create Markers array GeoJson
            var markerArrayGEOFromDB = [];
            var markerArray = [];

            // Create Markers array GeoJson
            var loadDBvaluesIntoJsonDoc = function() {

                console.log('COUNT ' + '<%= points.length %>');

                            <% points.forEach((event)=>{ %>

                            var actId = '<%=event.id%>';
                            var lng = <%=event.location.coordinates[0]%>;
                            var lat = <%=event.location.coordinates[1]%>;
                            var name = '<%=event.name%>';
                            var image;
                            var date = '<%=event.date%>'; 

                            var markerImageArray = [];
                            var tags = [];

                            var tags = JSON.parse('<%- JSON.stringify(event.tags) %>');
                            console.log("tags")

                var markerImageArray = JSON.parse('<%- JSON.stringify(event.markerImageArray) %>');
                                                  // breaks if this is removed, todo with that above > '); thing


                                                  // add to new geoJsonDoc
                                                  markerArrayGEOFromDB.push({
                                                  type: 'Feature',
                                                  geometry: {
                                                  type: 'Point',
                                                  coordinates: [lng, lat]
                                                  },
                                                  properties: {
                                                  "name": name,
                                                  "image": markerImageArray[0],
                                                  "markerImageArray": markerImageArray,
                                                  "tags" : tags,
                                                  "date" : date,
                                                  "actId": actId
                                                  }
                                                  });
                <%})%>            
            }

            loadDBvaluesIntoJsonDoc();

            // adding the markers to the map
            var geoJsonGEO = { type: 'FeatureCollection', features: markerArrayGEOFromDB };

            // make markers cluster together
            var markersClust = L.markerClusterGroup();
            markersClust.addLayer(L.geoJson(geoJsonGEO));

            map.addLayer(markersClust);            
            markersClust.on('click', onMarkerClick);

            // marker onclick function
            function onMarkerClick(e) {   
                console.log("You clicked a marker")
                console.log("Inside Markers", e.layer.feature.properties);    

                // change info
                document.getElementById("markerId").innerHTML = e.layer.feature.properties.actId;
                document.getElementById("markerTitle").innerHTML = e.layer.feature.properties.name;
                document.getElementById("expandedImg").src = e.layer.feature.properties.image;
                document.getElementById("markerDate").innerHTML = e.layer.feature.properties.date;

                var imageHolder = document.getElementById("image-holder");
                imageHolder.innerHTML = "";  

                // create images to browse through below main image
                for (var i = 0; i < e.layer.feature.properties.markerImageArray.length; i++) {

                    // create a div 
                    var divElem = document.createElement("div");                                
                    divElem.setAttribute("class", "image-holder__image");

                    // create image
                    var imgElem = document.createElement("img");                                
                    imgElem.setAttribute("class", "images-inside");
                    imgElem.setAttribute("onclick", "displayImage(this)");
                    imgElem.src = e.layer.feature.properties.markerImageArray[i];

                    // add imageElem to divElem
                    divElem.appendChild(imgElem);

                    // add to container
                    imageHolder.appendChild(divElem);
                }

                var tagsList = document.getElementById("info-panel__tags");
                tagsList.innerHTML = "";

                // add tags to the panel
                for (var i = 0; i < e.layer.feature.properties.tags.length; i++) {

                    var pElem = document.createElement("p");                                
                    pElem.setAttribute("class", "info-panel__tag");

                    var node = document.createTextNode(e.layer.feature.properties.tags[i]);
                    pElem.appendChild(node);

                    tagsList.appendChild(pElem);
                }


                // desktop and mobile panel changes
                if (window.innerWidth >= 1024) {

                } else {
                    OpenCloseIcon.classList.remove("is-up");
                    OpenCloseIcon.classList.add("is-down");

                    document.getElementsByClassName("icon-out1")[0].style.display = "block";
                    document.getElementsByClassName("panel1")[0].style.height = "80%";
                    document.getElementsByClassName("icon-out1")[0].style.top = "calc(20% - 25px)"; 
                }
            }






            // switches between upload panel and display panel
            var uploadPanel = document.getElementsByClassName("panel1--upload");
            uploadPanel[0].style.display === "none";

            function switchPanel() {
                // shows overlay 
                document.getElementById("overlay").style.display = "block";                

                if (uploadPanel[0].style.display === "none") {
                    // make map clickable to add marker
                    map.on('click', addMarkerNew);
                    // fire a click as it was taken two clicks to activate add marker
                    map.fireEvent('click');
                    uploadPanel[0].style.display = "block";
                    console.log('oh')
                } else {
                    uploadPanel[0].style.display = "none";
                    console.log('eh')
                    map.off('click')
                    // remove marker
                    if (theMarker) { // check
                        map.removeLayer(theMarker); // remove
                    }
                }

                var displayPanel = document.getElementsByClassName("panel1");

                if (displayPanel[0].style.display === "none") {
                    displayPanel[0].style.display = "block";
                } else {
                    displayPanel[0].style.display = "none";
                }

            }

            // desktop and mobile panel changes
            function windowResize() {                
                if (window.innerWidth >= 1024) {
                    console.log("DESKTOP TRIGGER")

                    // icon disply none
                    document.getElementsByClassName("icon-out1")[0].style.display = "none";
                    document.getElementsByClassName("panel1")[0].style.height = "90vh";

                } else {
                    console.log("MOBILE/TAB TRIGGER")

                    // icon disply block
                    document.getElementsByClassName("icon-out1")[0].style.display = "block"; 

                    document.getElementsByClassName("panel1")[0].style.height = "20%";
                    document.getElementsByClassName("icon-out1")[0].style.top = "calc(80% - 25px)";                               
                    OpenCloseIcon.classList.add("is-up");
                    OpenCloseIcon.classList.remove("is-down");

                }
            }
            windowResize();






            // disable submit on the filter box on the map
            filterForm.onsubmit = function()
            { 
                //do what you want;
                return false;
            }

            // gallery left and right buttons
            const buttonLeft = document.getElementById('slideLeft');
            const buttonRight = document.getElementById('slideRight');

            buttonLeft.onclick = function () {
                document.getElementsByClassName('image-holder')[0].scrollLeft += 100;
            };

            buttonRight.onclick = function () {
                document.getElementsByClassName('image-holder')[0].scrollLeft -= 100;
            };
        </script>    

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

        <script>

            $(function() {
                $('button.approveButton').click(function() {

                    console.log("this.dataset.id", this.dataset.id);
                    console.log("this.dataset", this.dataset);
                    console.log("$(this).data('id')", $(this).data('id'));                    

                    $.ajax({
                        type: "POST",
                        url: "/approval",
                        data: { 
                            // sent to server
                            id: document.getElementById("markerId").innerHTML   
                        },
                        success: function(result) {
                            alert('Approved');
                        },
                        error: function(result) {
                            console.log("error");
                        }
                    });
                });
            });


            $(function() {
                $('button.rejectButton').click(function() {

                    console.log("this.dataset.id", this.dataset.id);
                    console.log("this.dataset", this.dataset);
                    console.log("$(this).data('id')", $(this).data('id'));                    

                    $.ajax({
                        type: "POST",
                        url: "/reject",
                        data: { 
                            // sent to server
                            id: document.getElementById("markerId").innerHTML   
                        },
                        success: function(result) {
                            alert('Rejected');
                        },
                        error: function(result) {
                            console.log("error");
                        }
                    });
                });
            });


        </script>


    </body>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

</html>